/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 28, 2022, 2:10:05 PM
    Author     : gavinlinnihan
*/

.headerDiv {
    height: 20%;
    border-bottom: solid black 2px;
}

.homeHeader {
    text-transform: capitalize;
    font-weight: bolder;
    text-align: center;
    margin: 3%;
}

.homeDiv {
    text-align: center;
    padding: 10%;
}

.wordleBtn {
    color: black;
    border: 2px solid black;
    background-color: white;
    width: 15em;
    border-radius: 16px;
    font-size: 1.2em;
    text-transform: capitalize;
    
}

.homeBtn {
    margin-bottom: 5%;
}

.box-ex{
  width: 320px;

  margin: 0 auto;
  padding-top: 10px;

}
.box{
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 3px 1.5px;
  display: inline-block;
  background-color: white;   
  color: black;
  text-align: center;
  border: 2px solid lightgrey;
}
.box span{
  display: inline-block;
  font-size: larger;
  text-transform: uppercase;
  font-weight: bold;



  
}
.box-cols{
  margin: 0 auto !important;
}

.keyboard {
/*    position: fixed;
    left: 0;
    bottom: 0;*/
    margin: 20px 0;
    width: 100%;
    padding: 5px 0;
    background-color: white;
    height: 250px;
}

.keyboard__keys {
    text-align: center;
}

.keyboard__key {
    height: 45px;
    width: 6%;
    max-width: 90px;
    margin: 3px;
    border-radius: 4px;
    border: none;
    background: lightgray;
    color: black;
    font-size: 1.05rem;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
/*    position: relative;*/
}

.keyboard__key:active {
    /* change opacity or color when key is pressed*/
}

.keyboard__key--wide {
    width: 12%;
}

.keyboard__key--extra-wide {
    width: 36%;
    max-width: 500px;
}